@import "variables";
html, body{
  background-color: #f6f6f6;
  font-family: sans-serif;
}

.cst_card{
  height: 100%;
  border-radius : 0;
  border: none;
}
.sct_product_wrapper{
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}
.product-img{
  max-width: 240px;
  width: 100%;
  margin: 0 auto;
}

.content_crt_bg{
  background: rgb(150,150,150);
/* background: linear-gradient(180deg, rgba(150,150,150,1) 34%, rgba(255,255,255,1) 100%); */
background: linear-gradient(180deg, rgba(150,150,150,1) 8%, rgba(255,255,255,1) 100%);
}
.product-full-title{
  text-transform: uppercase;
  font-size: 15px;
}
.product-desc-section{
  color: #696f77;
  font-weight: 600;
  border: none;
}
.price-titles{
  font-size: 11px;
  text-transform: uppercase;

}
.price-items{
  font-size: 18px;
  font-weight: 600;
}
.price-currency{
    font-size: 9px;
    margin-top: 6px;
    display: inline-block;
    position: absolute;
    top: -3px;
}
.cst_card_prise_section{
  padding: 0;
}
.prise-item{
  /* background-color: #ededed;   */
}
.prise_item_wrapper{
  background: #000;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.send-message-btn{
  display: block;
width: 100%;
height: 100%;
/* display: flex; */
border-radius: 0;
text-align: center;
margin: 0 auto;
cursor: pointer;
justify-content: center;
cursor: pointer;
}
.thumbnail-state{
  margin-bottom: 0;
  display: inline-block;
  width: 55px;
  background-color: $color-scheme;
  padding-left: 11px;
  padding-bottom: 2px;
  padding-top: 2px;
  border-radius: 0 0 0 8px;
  position: relative;
  font-size: 12px;
}

.thumbnail-state::before{
  content: '';
  position: absolute;
  background-color: $color-scheme;
  width: 5px;
  top: -21px;
  display: inline-block;
  height: 32px;
  left: 0;
}
.thumbnail-title{
  margin-bottom: 0;
  margin-left: 10px;
  text-transform: uppercase;
}
.prise_item_four{
    background-color: $color-scheme;
}
.prise_item_four a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.prise_item_three{
  background-color: #e2dddd;
  color: $color-scheme;
  padding: 0 15px;
}
.prise_item_one .col-6:first-child,
.prise_item_two .col-6:first-child,
.prise_item_three .col-6:first-child{
  padding-right: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.prise_item_one .col-6:nth-child(2),
.prise_item_two .col-6:nth-child(2),
.prise_item_three .col-6:nth-child(2){
  padding-left: 5px;
}
.prise_item_one,
.prise_item_two{
  background-color: #ededed;
  color: #727272;
  padding: 0 15px;
  font-size: 12px;
}
.nav_item_title{
  color:#454545 !important;
  text-transform: uppercase;
  font-size: 14px;
}
.cst_dropdown a{
  margin-top: -3px;
  font-size: 14px;
  text-transform: uppercase;
}
.cst_dropdown_wrapper button{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}
.cst_dropdown .dropdown-toggle::after{
      border-top: 0.6em solid;
      vertical-align: 0.055em;
}
.brand-title{
  text-transform: uppercase;
  font-size: 18px;
}
.model-label{
  text-transform: uppercase;
  font-size: 18px;
}
.model-wrapper label{

    &::before{
      border-radius: 0 !important;
      border: 1px solid #000;
    }
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #717171;
}
.model-wrapper .custom-control-input:checked~.custom-control-label::before{
  border-color: $color-scheme;
  background-color: $color-scheme;
}

.sct_product_sold::before {
  content: "SPRZEDANY";
  position: absolute;
  z-index: 99;
  font-weight: 600;
  // font-size: 9rem;
  transform: rotate(-14deg);
  color: #9e9e9e;
  top: 41px;
  left: 0;
  right: 0;
  font-size: 36.7vmin;
}

// .sct_product_sold::after {
//   content: "|";
//   position: absolute;
//   z-index: 100;
//   font-weight: 600;
//   font-size: 10rem;
//   transform: rotate(14deg);
//   color: #9e9e9e;
// }
.cst_nav{
  padding-left: 0;
}
@media (max-width: 800px) {
  .cst_card_prise_section{
    min-height: 200px;
  }
  .sct_product_sold::before{
      font-size: 29.7vmin;
  }
}
@media (max-width: 500px) {
  .sct_product_sold::before{
      font-size: 19.7vmin;
  }
}
